body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    background: #b6e1ed;
}

ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
}

li {
    margin: 5px;
    padding: 10px;
    background: #d9ebf0;
    width: 700px;
    display: flex; 
    justify-content: space-between;
}

div {
    width: 400px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #9addef;
}