<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask + SQLAlchemy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Тренировки</h1>
    <form id="workoutForm">
        <input type="text" id="steps" placeholder="Шаги" required>
        <input type="text" id="date" placeholder="Дата (ГГГГ-ММ-ДД)" required>
        <button type="submit">Добавить</button>
    </form>
    <div class="total-steps">
        Сумма шагов: <span id="totalSteps">0</span>
    </div>
    <button id="deleteAllButton">Удалить все тренировки</button>
    <ul id="workoutList"></ul>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
